p {
  font-family: Calibri;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-darkmode{
  display: flex;
  justify-content: space-between;
  background-color: #2b3743;
  -webkit-text-fill-color: white;
}
.search{
    border-color: whitesmoke;
    border-radius: 4px;
    width: 60%;
    margin: 5%;
    height: 30px;
    box-sizing: border-box;
}
.search-darkmode{
  border-color:  lightslategrey;
    border-radius: 4px;
    width: 60%;
    margin: 5%;
    height: 30px;
    color:white;
    background-color: #2b3743;
    box-sizing: border-box;
}
.filterLabel-darkmode{
   -webkit-text-fill-color: white;
}
.filter-darkmode{
   background-color: #2b3743;
    color:white;
    box-sizing: border-box;
}
.darkmode{
  background-color: #ffffff;
    border-radius: 4px;
    height: 30px;
    border-color: whitesmoke;
    margin: 20px;
}
.darkmode-on{
   background-color: #2b3743;
    border-radius: 4px;
    height: 30px;
    border-color: lightslategrey;
    margin: 20px;
}
.cardsHoalder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home {
  background-color: #fafafa;
   font-family: Calibri;
}
.home-darkmode{
  background-color: #202d36;
   font-family: Calibri;
}
.heading{
  padding-left: 20px;
}