<div [className]="darkmode == 'darkmode-off' ? 'home' : 'home-darkmode'">
  <button (click)="darkmodeChange()">darkmode</button>
  <input class="form-control" type="text" name="search" [(ngModel)]
  ="searchText" >
  <select [(ngModel)]="selectedBrand" (change)="valueSelected()">
  <option value={{item}} *ngFor="let item of this.region">{{ item }}</option>
</select>
  <div *ngFor="let card of cards | filter:searchText" class="cardsHoalder">
    <app-cards  [OneInput]="{card: card, selectedBrand: selectedBrand, searchText:searchText, darkmode:darkmode}"></app-cards>
  </div>
</div>